.Rhistory
.RData
.Ruserdata
.Rproj.user/
runtime/
data/
tmp/
temp/
*.tmp
*.part
*.zip
*.nc
*.nc4
*.grib
*.grb
*.key
*.pem
*.secret
secrets.yml
secrets.yaml
config/local*.yml
config/local*.yaml
logs/*.out
logs/*.err
logs/
slurm-*.out
slurm-*.err
cds_lai_low_*.out
cds_lai_low_*.err
cds_relhum_min_*.out
cds_relhum_min_*.err
pipeline_runs/
# secrets
secrets.yaml

# local data
/local
.Rcheck/
*.Rcheck/
..Rcheck/
*.tar.gz
.r_lib/
*.tif
*.tif.aux.xml
*.Rout
