export(build_pipeline_option_parser, parse_pipeline_args, resolve_execution_choice,
read_pipeline_config, resolve_project_root, expand_config_environment,
resolve_config_paths, validate_pipeline_config, ensure_pipeline_directories,
format_daily_filename, format_weekly_filename, parse_grid_filename,
inventory_grid_directory, summarize_grid_inventory, find_inventory_conflicts,
expected_daily_dates, find_missing_dates, compress_dates_to_intervals,
split_dates_by_year_month, plan_observed_update, bbox_to_cds_area,
diagnose_spatial_domain, build_era5_mintemp_requests,
validate_cds_request_structure, write_cds_request_manifests,
download_cds_requests, normalize_downloaded_file, discover_netcdf_files,
inspect_netcdf_file, extract_daily_layers, standardize_daily_raster,
process_downloaded_mintemp, validate_raster_against_template,
validate_daily_output, validate_weekly_output, identify_affected_iso_weeks,
aggregate_daily_to_weekly, build_daily_climatology, build_weekly_climatology,
fill_future_daily_analogs, fill_future_weekly_analogs, initialize_run_manifest,
record_manifest_event, finalize_run_manifest, run_era5_mintemp_pipeline,
resolve_storage_paths, template_fingerprint, validate_template_crs,
validate_template_geometry)
export(get_variable_spec, variable_spec_hash, resolve_netcdf_variable,
normalize_source_units,
validate_source_values, normalize_output_values,
convert_source_units, validate_variable_values, aggregate_daily_values,
aggregate_weekly_values, daily_output_filename, weekly_output_filename,
build_variable_requests, process_downloaded_variable, normalize_manifest_dates,
 weekly_input_fingerprint)
export(resolve_source_storage_paths, era5land_family_product_ids,
 era5land_expected_dates, era5land_request_for_date, era5land_validate_debug_date,
 build_era5land_daily_mean_requests, run_era5land_daily_mean_family,
 detect_container_type, era5land_registry_path, era5land_read_request_registry,
 era5land_write_request_registry, era5land_validate_raw_archive,
 era5land_stage_requests, era5land_retrieve_requests,
 era5land_migrate_legacy_unavailable_rows, era5land_query_cds_job_status)
export(run_environmental_pipeline, request_adapter_for_spec, request_api_fields,
       build_cds_api_payload, validate_cds_api_payload, is_transient_cds_error,
       with_cds_retry, cds_retry_delay, align_extent_to_source_grid,
       inspect_netcdf_ncdf4, select_era5_temperature_variable,
       read_daily_netcdf, decode_netcdf_time)
export(detect_download_format, inspect_netcdf_ncdf4, select_era5_temperature_variable,
 decode_netcdf_time, read_era5_daily_with_ncdf4, read_era5_daily_layers,
 read_daily_netcdf, build_request_dates, request_entry_for_raw,
 selected_dates_for_raw, validate_date_source_map, normalize_path_key)
importFrom(utils, unzip)
importFrom(stats, median)
importFrom(stats, runif)
importFrom(stats, weighted.mean)
importFrom(utils, tail)
